<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Solve</title>
  </head>
  <body>
    <form>
      <input type="hidden" name="postback" value="postback" />
      A<input value="{{a}}" type="number" name="a" /><br />
      B<input value="{{b}}" type="number" name="b" /><br />
      <h1>Result &nbsp;&nbsp;{{result}}</h1>
      <br />
      <input type="submit" name="cmd" value="Add" />
      <input type="submit" name="cmd" value="Sub" />
    </form>
  </body>
</html>
